.conge {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: var(--card-padding);
    margin-top: 6rem;
}

.ajoutC,
.listeC {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 45%;
    padding: var(--card-padding);
    background-color: var(--color-white);
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    height: 86vh;
}



.ajoutC1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    gap: 0.5rem;
    height: 65vh;
}



.inputF label {
    color: var(--color-dark);
}

.inputF input {
    color: var(--color-dark);
    border-bottom: 1px solid grey;
    transition: border-color 0.3s ease;

}

.inputF {
    width: 25rem !important;

}


#typeC {
    color: var(--color-dark);

}

.select,
.popup {
    background-color: var(--color-white) !important;
    color: var(--color-dark) !important;
}



.listeC {
    width: 50%;
    overflow-y: auto;
}



.listeC>table>thead>tr>th {
    color: var(--color-primary);
    background-color: var(--color-white);
    padding: 1rem;
    position: sticky;
    top: -2rem;
}


@media screen and (max-width: 1200px) {
    .conge {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .ajoutC,
    .listeC {
        width: 95%;
    }

}